## Data prep kit

data-prep-toolkit-transforms[all]

# datasets
datasets

# ray
ray[default, client]

## --- Jupyter Utils
jupyterlab
ipykernel
ipython
ipywidgets
IProgress
chardet==5.2.0
charset-normalizer==3.3.2
